@mixin siteAccount() {
    .site-account {
        a {
            font-size: 15px;
            color: $color-green !important;
        }
        
        .user-letter {
            position: absolute;
            // top: -10px;
            left: 0;
            right: 0;
        }


    }
}



.header-dash {
    // background: red;
    // color: #3d3d3d !important;
    a {
        color: #3d3d3d  !important;
        font-size: 18px;

        &:hover {
            color: $color-green !important;
        }
        // text-transform: uppercase;
        // font-family: 'Poppins', serif;
    }

    @include siteAccount();
    
    
}

.dash-section-landing {
    background: linear-gradient(to right, #21b75f 0%,#31386e 100%);
    color: #fff;

    .dash-landing-wrapper {
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;

        .img-dash-landing {
            width: 50%;
            padding: 8px 40px 8px 15px;
        }

        .dash-content {

            padding: 8px 15px 8px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: center;

            p {
                font-size: 17px;
                font-family: 'Poppins', serif !important;
                // color: #fff;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            h2 {
                font-size: 15rem;
                line-height: 15rem;
                text-align: start;
            }
        }

    }


}

.dash-section-main {
    padding: 50px 0px;

    h2 {
        font-size: 60px;
    }

    .dash-main-wrapper {
        height: 600px;
        padding-top: 40px;
    
       .dash-panel {
            background: rgba(0,0,0,0.6);
            height: 100%;
            width: 20%;

            ul {
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: inherit;

                li {
                    color: #fff;
                    font-size: 30px;
                    list-style-type: none;
                    padding-bottom: 20px;
                    cursor: pointer;


                    &:hover {
                        color: $color-green;
                    }

                    &.active {
                        color: $color-green;
                    }

                }
            }
       }

       .dash-panel-content {
            padding: 15px 90px;
            width: 80%;

            .panel-content-tab {
                display: none;

                &.active {
                    display: block;
                }
            }

            .tab-default {
                font-size: 20px;
                padding-top: 6rem;
                line-height: 5rem;
            }
       }
    }
}

