* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@mixin linkHover() {
    a:hover {
        color: $color-green !important;
    }
}

html,body{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

// .body-container{
//     // object-fit: contain;
//     // overflow-x: hidden;
//     width: 100%;
//   }

  