* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}

.btn-default-round {
  font-size: 22px;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 26px;
  line-height: 20px;
  background: #FCA22A;
  text-transform: capitalize;
  color: white;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btn-default-round:hover {
  background: #21b360;
}

.flex-container {
  display: flex;
}

.section-class {
  margin: 0 2vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
.nav-container .header-logo {
  margin-bottom: 2rem;
}
.nav-container .nav-items li {
  display: inline-block;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.nav-container .nav-items li a {
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}
.nav-container .nav-items li a:hover {
  color: #21b360;
}
.nav-container .site-account svg {
  fill: #FCA22A;
  height: 30px;
  width: 30px;
}
.nav-container .site-account ul li {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}
.nav-container .site-account ul li a {
  color: #21b360;
  padding: 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-container .site-account ul li a:hover {
  color: #FCA22A;
}

.section-container-default {
  max-width: 1100px;
  margin: 0 auto;
}

.section-one {
  color: white !important;
  padding: 80px 0;
}
.section-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  background-color: rgba(3, 96, 251, 0.3);
}
.section-one video {
  z-index: -3;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-one .video-slide {
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}
.section-one .video-slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}
.section-one .main-section-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one .main-section-container h2 {
  font-size: 2.5rem;
}
.section-one .main-section-container h1 {
  font-size: 90px;
  text-align: center;
}
.section-one .main-section-container .line {
  background-color: #FCA22A;
  width: 90px;
  height: 5px;
  border-radius: 40px;
  margin-top: 20px;
}
.section-one .main-section-container p {
  font-size: 21px;
  padding: 2rem 12rem 5rem;
  text-align: center;
  z-index: 1;
  line-height: 30px;
}
.section-one .slider-navigation {
  z-index: 2;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.section-one .slider-navigation .nav-btn-slide {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(3, 96, 251, 0.3);
  transition: 0.3s ease;
  margin: 30px 10px;
}
.section-one .slider-navigation .nav-btn-slide:hover {
  transform: scale(1.5);
}
.section-one .slider-navigation .active {
  background-color: rgba(3, 96, 251, 0.3);
}

/** SECTION TWO*/
.section-two {
  background-color: #f8f8f8;
}

.section-header {
  align-self: center;
  font-size: 45px;
  color: #0e385d;
  text-transform: capitalize;
}

.section-two-container {
  max-width: 1200px;
}

.section-wrapper-two {
  padding-top: 80px;
  padding-bottom: 80px;
  flex-direction: column;
  gap: 3rem;
}
.section-wrapper-two .carousel-container {
  position: relative;
}
.section-wrapper-two .carousel-container .carousel-box-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: auto;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
  position: relative;
}
.section-wrapper-two .carousel-container .carousel-box-wrapper::-webkit-scrollbar {
  display: none;
}
.section-wrapper-two .carousel-container .btn-navigate {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 5;
}
.section-wrapper-two .carousel-container .btn-navigate:hover {
  background-color: rgba(33, 179, 96, 0.2);
}
.section-wrapper-two .carousel-container .btn-navigate button {
  border: none;
  background: none;
  cursor: pointer;
}
.section-wrapper-two .carousel-container .left-navigate {
  left: 0;
}
.section-wrapper-two .carousel-container .right-navigate {
  right: 0;
}
.section-wrapper-two .carousel-container .boxes {
  cursor: pointer;
  scroll-snap-align: end;
  height: 150px;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
.section-wrapper-two .carousel-container .boxes:hover {
  color: #21b360;
  transform: scale(1.2);
}

.section-three {
  background-color: #f8f8f8;
}

.section-describe {
  font-size: 24px;
  color: #20527e;
  padding-top: 1.5rem;
}
.section-describe span {
  text-transform: uppercase;
  color: #21b360;
}

.section-wrapper-three {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 80px;
}
.section-wrapper-three .section-input-sort {
  padding: 5rem 0 5rem 0;
}
.section-wrapper-three .section-input-sort .input-container:nth-of-type(3) input {
  width: 150px;
  background: none;
  background-color: #fff;
}
.section-wrapper-three .section-input-sort .input-container:nth-of-type(4) input {
  width: 150px;
  background: none;
  background-color: #fff;
}
.section-wrapper-three .section-input-sort .input-container > select {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  background-color: #fff;
  width: 250px;
  color: grey;
  outline: none;
}
.section-wrapper-three .section-input-sort div {
  padding-left: 15px;
  padding-right: 15px;
}
.section-wrapper-three .section-input-sort div > h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
}
.section-wrapper-three .section-input-sort div > input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  background: transparent url(../assets/images/cross.png) no-repeat scroll 95% 50%;
  background-color: #fff;
  width: 250px;
}
.section-wrapper-three .section-input-sort div > input:focus {
  outline: none;
}
.section-wrapper-three button {
  font-size: 18px;
  background-color: #0e385d;
}

.section-four-container {
  max-width: 1180px;
}

.section-wrapper-four {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-wrapper-four .about-content {
  padding: 0 15px;
}
.section-wrapper-four h2 {
  font-size: 55px;
}
.section-wrapper-four .section-four-describe {
  font-size: 18px;
  font-family: serif;
}
.section-wrapper-four .about-content-container {
  padding-top: 50px;
}
.section-wrapper-four .about-content-nav {
  padding: 0 20px;
}
.section-wrapper-four .about-content-nav ul {
  padding: 0 20px;
  position: relative;
}
.section-wrapper-four .about-content-nav ul::before {
  content: "";
  position: absolute;
  background-color: #EEEEEE;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
.section-wrapper-four .about-content-nav ul li {
  position: relative;
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  color: #6a6a6a;
  padding-bottom: 65px;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 120px;
  cursor: pointer;
}
.section-wrapper-four .about-content-nav ul li:last-child {
  padding-bottom: 0;
}
.section-wrapper-four .about-content-nav ul li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid #EEEEEE;
  top: 10%;
  right: -30px;
  background-color: #B6B6B6;
}
.section-wrapper-four .about-content-nav ul li:last-child::before {
  top: 60%;
}
.section-wrapper-four .about-content-nav ul li:first-child::before {
  top: 0;
}
.section-wrapper-four .about-content-nav ul li.active::before {
  background-color: #FCA22A;
}
.section-wrapper-four .tab-items-text-content {
  font-size: 14px;
  line-height: 1.975em;
  font-weight: 500;
  color: #4b4b4b;
  padding: 0 15px;
}
.section-wrapper-four .tab-items-text-content span {
  margin-bottom: 50px;
}
.section-wrapper-four .tab-items-text-content ul {
  padding-left: 50px;
  margin-top: 3rem;
  line-height: 3.5rem;
}
.section-wrapper-four .tab-items-text-content ul li {
  list-style-type: none;
  position: relative;
}
.section-wrapper-four .tab-items-text-content ul li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #B6B6B6;
  border-radius: 50%;
  left: -25px;
  top: 15px;
}

footer section.footer-upper {
  width: 80%;
  margin-left: 10%;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  gap: 2%;
}
footer section.footer-upper div.footer-elements {
  width: 30%;
}
footer section.footer-upper div.footer-elements h1.footer-heading {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700px;
  color: #FCA22A;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 0px 0px 10px 0px;
  margin: 0;
  text-align: left;
}
footer section.footer-upper div.footer-elements .photo-house-rent {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer section.footer-upper div.footer-elements p.heading-description {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 30px;
}
footer section.footer-upper div.footer-elements div.button button.more {
  background-color: #FCA22A;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px 10px 40px;
  color: #f8f8f8;
}
footer section.footer-upper div.footer-elements div.button button.more:hover {
  background-color: #21b360;
}
footer section.footer-upper div.footer-elements ul.footer-list {
  list-style-type: none;
  margin-top: 30px;
}
footer section.footer-upper div.footer-elements ul.footer-list li.list-item {
  padding: 12px 0px 12px 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}
footer section.footer-upper div.footer-elements ul.footer-list li.list-item span a {
  text-decoration: none;
  color: #FCA22A;
}
footer section.footer-upper div.footer-elements ul.footer-list li.list-item span a:visited {
  color: #FCA22A;
}
footer section.footer-upper div.footer-elements ul.footer-list li.list-item::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgba(119, 119, 119, 0.4509803922);
  left: 4px;
}
footer section.footer-upper div.footer-elements ul.footer-list-instagram {
  list-style-type: none;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2%;
}
footer section.footer-upper div.footer-elements ul.footer-list-instagram li.list-item {
  width: 95%;
}
footer hr {
  width: 85%;
  margin-left: 10%;
}
footer p.copyright {
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  color: #6f6f6f;
  margin-bottom: 30px;
  margin-top: 20px;
}
footer p.copyright span {
  color: #FCA22A;
}

main section.blog-post {
  background-color: whitesmoke;
  padding-bottom: 50px;
}
main section.blog-post h1.banner {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 700;
  color: #0e385d;
  text-align: center;
}
main section.blog-post p.heading-description {
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #0e385d;
}
main section.blog-post div.blog-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  width: 90%;
  margin-left: 7%;
}
main section.blog-post div.blog-holder div.best-places-to-visit {
  width: 32%;
  background-color: white;
  border-radius: 5px;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.photo {
  width: 100%;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.photo img {
  width: 100%;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p {
  width: 90%;
  margin-left: 5%;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p p.date-and-type {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  padding-top: 18px;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p p.date-and-type span {
  border-left: 2px solid #9a9a9a;
  margin-left: 15px;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p p.date-and-type span a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 600;
  color: #9a9a9a;
  padding-left: 15px;
  word-spacing: 2px;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p h1 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 800;
  color: #292928;
  padding: 15px 0px 20px 0px;
  text-align: left;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  border-top: 1px solid rgba(0, 0, 0, 0.267);
  padding-top: 15px;
  padding-bottom: 20px;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p ul li {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p ul li i.fa-eye {
  color: rgba(0, 0, 0, 0.267);
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p ul li i.fa-heart {
  color: skyblue;
}
main section.blog-post div.blog-holder div.best-places-to-visit div.h1-ul-p ul li i.fa-message {
  color: limegreen;
}
main section.blog-post button {
  outline: none;
  border: none;
  background-color: #FCA22A;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 10px 50px 10px 50px;
  margin-left: 45%;
  border-radius: 5px;
  margin-top: 60px;
}
main section.blog-post button:hover {
  background-color: #21b360;
}

section.section-five {
  display: flex;
}
section.section-five ul.photo-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  gap: 1.5%;
}
section.section-five ul.photo-gallery li.image-list {
  width: 75%;
}
section.section-five div.gallery-right-hand {
  width: 30%;
  margin-left: 5%;
}
section.section-five div.gallery-right-hand h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  width: 75%;
  color: #0e385d;
}
section.section-five div.gallery-right-hand h3 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #525252;
  width: 60%;
  line-height: 35px;
  padding: 20px 0px 20px 0px;
}
section.section-five div.gallery-right-hand p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  color: #525252;
  line-height: 35px;
  padding: 20px 0px 20px 0px;
}
section.section-five div.gallery-right-hand button {
  outline: none;
  border: none;
  background-color: #0e385d;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  margin-top: 10px;
}
section.section-five div.gallery-right-hand button:hover {
  background-color: #21b360;
}

main section.section-six {
  margin-top: 120px;
}
main section.section-six div.background-image {
  height: 250px;
  background-image: url("../../assets/images/contact-bg-image.png");
  background-size: cover;
}
main section.section-six div.background-image div.background-color {
  background-color: rgba(0, 0, 0, 0.274);
  height: 100%;
}
main section.section-six div.background-image div.background-color div.contact-list {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}
main section.section-six div.background-image div.background-color div.contact-list p {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  color: white;
}
main section.section-six div.background-image div.background-color div.contact-list p span {
  color: #FCA22A;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
}
main section.section-six div.background-image div.background-color div.contact-list div.email-phone-num p.phone-num a {
  text-decoration: none;
  color: white;
}
main section.section-six div.background-image div.background-color div.contact-list div.email-phone-num p.email a {
  text-decoration: none;
  color: white;
}
main section.section-six div.background-image div.background-color div.contact-list div.email-phone-num button {
  outline: none;
  border: none;
  background-color: #FCA22A;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  margin-top: 0px;
}
main section.section-six div.background-image div.background-color div.contact-list div.email-phone-num button:hover {
  background-color: #21b360;
}

main section.section-four {
  margin-top: 40px;
  margin-bottom: 110px;
}
main section.section-four div.background-image {
  background-image: url("../../assets/images/count-down-image.png");
  height: 250px;
  background-size: cover;
}
main section.section-four div.background-image div.background-color {
  background-color: rgba(0, 0, 0, 0.342);
  height: 100%;
}
main section.section-four div.background-image div.background-color ul.statistics-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 90px 0px 30px 0px;
  width: 80%;
  margin-left: 10%;
}
main section.section-four div.background-image div.background-color ul.statistics-list li {
  width: 20%;
  margin-left: 2.5%;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */