* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
}

.btn-default-round {
  font-size: 22px;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 26px;
  line-height: 20px;
  background: #FCA22A;
  text-transform: capitalize;
  color: white;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-default-round:hover {
  background: #21b360;
}

.flex-container {
  display: flex;
}

.section-class {
  margin: 0 2vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
.nav-container .header-logo {
  margin-bottom: 2rem;
}
.nav-container .nav-items li {
  display: inline-block;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.nav-container .nav-items li a {
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}
.nav-container .nav-items li a:hover {
  color: #21b360;
}
.nav-container .site-account svg {
  fill: #FCA22A;
  height: 30px;
  width: 30px;
}
.nav-container .site-account ul li {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}
.nav-container .site-account ul li a {
  color: #21b360;
  padding: 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-container .site-account ul li a:hover {
  color: #FCA22A;
}

.section-container-default {
  max-width: 1100px;
  margin: 0 auto;
}

.section-one {
  color: white !important;
  padding: 80px 0;
}
.section-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  background-color: rgba(3, 96, 251, 0.3);
}
.section-one video {
  z-index: -3;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-one .video-slide {
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}
.section-one .video-slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}
.section-one .main-section-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
=======

.section-one .main-section-container h2 {
  font-size: 2.5rem;
}

>>>>>>> 137c69ef8571872001ed34bc906775de3545f96a
.section-one .main-section-container h1 {
  font-size: 90px;
  text-align: center;
}
<<<<<<< HEAD
=======

.section-one .main-section-container .line {
  background-color: #FCA22A;
  width: 90px;
  height: 5px;
  border-radius: 40px;
  margin-top: 20px;
}

>>>>>>> 137c69ef8571872001ed34bc906775de3545f96a
.section-one .main-section-container p {
  font-size: 21px;
  padding: 2rem 12rem 5rem;
  text-align: center;
  z-index: 1;
<<<<<<< HEAD
}
.section-one .main-section-container .btn-default-round {
  font-size: 22px;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 50px;
  line-height: 20px;
  background: #FCA22A;
  color: white;
  border: none;
  transition: all 0.5s ease;
}
.section-one .main-section-container .btn-default-round:hover {
  background: #21b360;
=======
  line-height: 30px;
>>>>>>> 137c69ef8571872001ed34bc906775de3545f96a
}
.section-one .slider-navigation {
  z-index: 2;
  display: flex;
  position: relative;
<<<<<<< HEAD
  justify-content: center;
  align-items: center;
=======
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
>>>>>>> 137c69ef8571872001ed34bc906775de3545f96a
}
.section-one .slider-navigation .nav-btn-slide {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(3, 96, 251, 0.3);
  transition: 0.3s ease;
  margin: 30px 10px;
}
.section-one .slider-navigation .nav-btn-slide:hover {
  transform: scale(1.5);
}
.section-one .slider-navigation .active {
  background-color: rgba(3, 96, 251, 0.3);
}

/** SECTION TWO*/
.section-two {
  background-color: #f8f8f8;
}

.section-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 45px;
  color: #0e385d;
  text-transform: capitalize;
}

.section-two-container {
  max-width: 1200px;
}

.section-wrapper-two {
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.section-wrapper-two .carousel-container {
  position: relative;
}

.section-wrapper-two .carousel-container .carousel-box-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: auto;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
  position: relative;
}

.section-wrapper-two .carousel-container .carousel-box-wrapper::-webkit-scrollbar {
  display: none;
}

.section-wrapper-two .carousel-container .btn-navigate {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 5;
}

.section-wrapper-two .carousel-container .btn-navigate:hover {
  background-color: rgba(33, 179, 96, 0.2);
}

.section-wrapper-two .carousel-container .btn-navigate button {
  border: none;
  background: none;
  cursor: pointer;
}

.section-wrapper-two .carousel-container .left-navigate {
  left: 0;
}

.section-wrapper-two .carousel-container .right-navigate {
  right: 0;
}
.section-wrapper-two .carousel-container .boxes {
<<<<<<< HEAD
  height: 120px;
  background-color: orange;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
=======
  cursor: pointer;
  scroll-snap-align: end;
  height: 150px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section-wrapper-two .carousel-container .boxes:hover {
  color: #21b360;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-three {
  background-color: #f8f8f8;
}

.section-describe {
  font-size: 24px;
  color: #20527e;
  padding-top: 1.5rem;
}

.section-describe span {
  text-transform: uppercase;
  color: #21b360;
}

.section-wrapper-three {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  padding-bottom: 80px;
}

.section-wrapper-three .section-input-sort {
  padding: 5rem 0 5rem 0;
}

.section-wrapper-three .section-input-sort .input-container:nth-of-type(3) input {
  width: 150px;
  background: none;
  background-color: #fff;
}

.section-wrapper-three .section-input-sort .input-container:nth-of-type(4) input {
  width: 150px;
  background: none;
  background-color: #fff;
}

.section-wrapper-three .section-input-sort .input-container > select {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  background-color: #fff;
  width: 250px;
  color: grey;
  outline: none;
}

.section-wrapper-three .section-input-sort div {
  padding-left: 15px;
  padding-right: 15px;
}

.section-wrapper-three .section-input-sort div > h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
}

.section-wrapper-three .section-input-sort div > input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  background: transparent url(../assets/images/cross.png) no-repeat scroll 95% 50%;
  background-color: #fff;
  width: 250px;
}

.section-wrapper-three .section-input-sort div > input:focus {
  outline: none;
}

.section-wrapper-three button {
  font-size: 18px;
  background-color: #0e385d;
}

.section-four-container {
  max-width: 1180px;
}

.section-wrapper-four {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-wrapper-four .about-content {
  padding: 0 15px;
}

.section-wrapper-four h2 {
  font-size: 55px;
}

.section-wrapper-four .section-four-describe {
  font-size: 18px;
  font-family: serif;
}

.section-wrapper-four .about-content-container {
  padding-top: 50px;
}

.section-wrapper-four .about-content-nav {
  padding: 0 20px;
}

.section-wrapper-four .about-content-nav ul {
  padding: 0 20px;
  position: relative;
}

.section-wrapper-four .about-content-nav ul::before {
  content: '';
  position: absolute;
  background-color: #EEEEEE;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}

.section-wrapper-four .about-content-nav ul li {
  position: relative;
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  color: #6a6a6a;
  padding-bottom: 65px;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 120px;
  cursor: pointer;
}

.section-wrapper-four .about-content-nav ul li:last-child {
  padding-bottom: 0;
}

.section-wrapper-four .about-content-nav ul li::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid #EEEEEE;
  top: 10%;
  right: -30px;
  background-color: #B6B6B6;
}

.section-wrapper-four .about-content-nav ul li:last-child::before {
  top: 60%;
}

.section-wrapper-four .about-content-nav ul li:first-child::before {
  top: 0;
}

.section-wrapper-four .about-content-nav ul li.active::before {
  background-color: #FCA22A;
}

.section-wrapper-four .tab-items-text-content {
  font-size: 14px;
  line-height: 1.975em;
  font-weight: 500;
  color: #4b4b4b;
  padding: 0 15px;
}

.section-wrapper-four .tab-items-text-content span {
  margin-bottom: 50px;
}

.section-wrapper-four .tab-items-text-content ul {
  padding-left: 50px;
  margin-top: 3rem;
  line-height: 3.5rem;
}

.section-wrapper-four .tab-items-text-content ul li {
  list-style-type: none;
  position: relative;
}

.section-wrapper-four .tab-items-text-content ul li::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #B6B6B6;
  border-radius: 50%;
  left: -25px;
  top: 15px;
>>>>>>> 137c69ef8571872001ed34bc906775de3545f96a
}

footer section.footer-upper {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2%;
}
footer section.footer-upper div.footer-elements {
  width: 100%;
}/*# sourceMappingURL=style.css.map */